<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="Telerik.Windows.Documents.Flow, Version=2016.2.421.40, Culture=neutral, PublicKeyToken=5803CFA389C90CE7" />
        <add assembly="Telerik.Windows.Documents.Core, Version=2016.2.421.40, Culture=neutral, PublicKeyToken=5803CFA389C90CE7" />
        <add assembly="Telerik.Windows.Documents.Spreadsheet, Version=2016.2.421.40, Culture=neutral, PublicKeyToken=5803CFA389C90CE7" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="PresentationCore, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="Telerik.Windows.Documents.Spreadsheet.FormatProviders.OpenXml, Version=2016.2.421.40, Culture=neutral, PublicKeyToken=5803CFA389C90CE7" />
        <add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
  </system.web>
  <connectionStrings>
    <add name="connectionString" connectionString="Server=127.0.0.1;port=3306;Database=Proyecto;Uid=admin;Pwd=patolink;" />
  </connectionStrings>
  <appSettings>
    <!--Produccion-->
    <!--<add key="ConnectionString" value="Data Source=orcl.tatungmx.com;User ID=sfism4;Password=sfism4;Pooling=true;Max Pool Size=10;Min Pool Size=0;Connection Lifetime=40;Decr Pool Size=5" />-->
    <!--Desarrollo-->
    <add key="connectionString" value="Server=127.0.0.1;port=3306;Database=Proyecto;Uid=admin;Pwd=patolink;" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.3.5.0" newVersion="6.3.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>